* {
  box-sizing: border-box;
}

body {
  background-color: #131415;
  margin: 0;
}

.grid-parent-navbar {
  display: grid;
  grid-template-columns: auto repeat(2, 1fr) 160px 160px 165px 165px 165px 60px 36px 36px 40px;
  column-gap: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

ul {
  margin: 0;
  background-color: #1d1e1f;
  padding: 5px;
  list-style: none;
}

li {
  transition: 1s;
}
.home:hover,
.friends:hover,
.watch:hover,
.marketplace:hover,
.groups:hover,
.menu:hover,
.messanger:hover,
.notifications:hover {
  transform: scale(1.2);
}

.facebook-logo {
  grid-column: 1;
  grid-row: 1;
}
img[title="facebook-logo"] {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
}

.search-input {
  grid-column: 2 / 4;
}

input[type="search"] {
  background-color: #2d3032;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-image: url(../icons/navbar_icons/search.ico);
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: 14px 11px;
  padding-left: 40px;
  outline: none;
  color: white;
  grid-column: 2 span 2;
  /* width: fit-content;  */
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 4;
}
img[title="home"] {
  width: 25px;
  height: 25px;
}
img[title="friends"],
img[title="watch"],
img[title="marketplace"],
img[title="groups"] {
  width: 30px;
  height: 30px;
}
img[title="menu"],
img[title="messanger"],
img[title="notification"] {
  width: 25px;
  height: 25px;
}

.friends {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 5;
}
.watch {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 6;
}

.marketplace {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 7;
}
.groups {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 8;
}
.create {
  display: none;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 9;
}
.menu-phone-image {
  display: none;
}

.messanger {
  display: flex;
  justify-content: start;
  align-items: center;
  grid-column: 10;
}
.notifications {
  display: flex;
  justify-content: start;
  align-items: center;
  grid-column: 11;
}

img[title="profile-pic"] {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile-pic {
  display: flex;
  justify-content: start;
  align-items: center;
  grid-column: 12;
}
.profile-pic:hover {
  opacity: 0.7;
}
